.Sidebar {
  display: flex;
  width: auto;
  height: 100%;
  transition: width 0.3s ease-out;
}

.Sidebar-Content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 0;
  height: 100%;
  background-color: var(--hex-editor-pr-sideBar);
  padding: 1.5rem 0;
  color: var(--hex-pr-text--inverted);
  transition: width 0.3s ease-out, padding 0.5s ease-out;
}

.Sidebar-Content.is-active {
  width: 18.75rem;
  padding: 1.5rem 1rem;
}
